
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Roberto & Neal Booking</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand" href="/">R&N Bookings</a>
				</div>
				<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="/client_login">Customer
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><a href="/client_login">Login </a></li>
					<li><a href="/client_register">Register </a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="/staff_login">Staff
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/staff_login">Login </a></li>
						<li class = "active"><a href="/staff_register">Register </a></li>
					</ul>
					</li>
				</ul>
			</div>
	</nav>
	<div id="general" class="section">
		<div class="section-center">
			<form class = "general-form" action="/SregisterAuth" method="POST">
				<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<span class="form-label">Username</span>
								<input class="form-control input-sm" type="text" name = "username" placeholder="email" required/>
							</div>
						</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Password</span>
							<input class="form-control input-sm" type="password" name = "password" placeholder="password" required/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Airline</span>
							<select name = "airline_name" required>
								{% for line in data %}
								<option value = "{{line['airline_name']}}">{{line['airline_name']}}</option>			
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Date of Birth</span>
							<input class="form-control input-sm" type="date" name = "date_of_birth" placeholder="mm/dd/yy" required/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">First Name</span>
							<input class="form-control input-sm" type="text" name = "first_name" placeholder="first_name" required/></br>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Last Name</span>
							<input class="form-control input-sm" type="text" name = "last_name" placeholder="last_name" required/></br>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Phone Number</span>
							<input class="form-control input-sm" type="text" name = "phone_number" placeholder="phone_number" required/></br>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Building Number</span>
							<input class="form-control input-sm" type="text" name = "building_no" placeholder="Building Number" required/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Phone Number</span>
							<input class="form-control input-sm" type="text" name = "phone_no" placeholder="Phone Number" required/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Passport Number</span>
							<input class="form-control input-sm" type="text" name = "passport_no" placeholder="Passport Number" required/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Passport Expiration Date</span>
							<input class="form-control input-sm" type="date" name = "passport_exp" placeholder="YYYY/MM/DD" required/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<span class="form-label">Passport Country</span>
							<input class="form-control input-sm" type="text" name = "passport_country" placeholder="Country" required/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-btn">
								<button class="submit-btn">Register</button>
						</div>
					</div>
				</div>
				{% if error %}
					<p class="text-danger"><strong>Error:</strong> {{error}}</p>
				{% endif %}
			</form>
		</div>	
	</div>
</body>
</html>
